.home_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home_img {
  height: 30vh;
}
.homePara {
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: 900;
}
