/* Write your CSS code here */
.contact_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact_img {
  height: 30vh;
}
.contactPara {
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: 900;
}
